* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  background: #353535;
  font-size: 14px;
}

.wrapper {
  width: 200px;
  height: 200px;
  text-align: center;
}

.header {
  padding: 10px;
  background: #505050;
  font-weight: 500;
}

.content {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.count {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.connectBtn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* .connectBtn:disabled {
  background: #8edba5;
} */

.greenBg {
  background: #16e453;
}

.greenColor {
  color: #16e453;
}

.redBg {
  background: #ffaa9f;
}

.redColor {
  color: #ffaa9f;
}
